@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    font-family: 'Oswald', sans-serif;
}
.main-container {
    color: #fff;
    background: #000;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0 auto;
}

/* Navbar */

.custom-navbar {
    color: #00ffc8;
    font-size: 3rem;
    text-align: center;
    background: #fff;
    padding: 2vh;
    margin-bottom: 15vh;
}

a, 
.nav-links,
.nav-links:focus,
.nav-links:active,
.nav-links:visited {
    color: #000;
    text-decoration: none;
}

a:hover,
.nav-links:hover {
    color: #00ffc8;
    font-size: 3rem;
    text-decoration: line-through;
}

/* Homepage */

.home-jumbo,
.about-jumbo {
    text-align: center;
}

.home-header,
.about-header {
    font-size: 7em;
    margin-bottom: 5vh;
}

.btn-custom {
    color: #fff;
    font-size: 1.3em;
    background: #000;
    border: 1px solid #00ffc8;
    margin: 2vh;
    border-radius: 0;
}

.btn-custom:hover {
    font-size: 1.3em;
    color: #00ffc8;
    border: 1px solid #1f00ce;
    text-decoration: line-through;
}

.h2-header{
    margin-bottom: 3vh;
}

.hm {
    text-transform: uppercase;
    color: #1f00ce;
    background: #00ffc8;
    padding: 1.5vh;
}

/* About */

.about-jumbo {
    background: #000;
    height: 100vh;
    margin-top: 25vh;
}
.h2-about{
    margin-bottom: 25vh;
}

.arrow {
    font-size: 6em;
    color: #00ffc8;
    margin: 155vh 0;

}

.about-details {
    color: #000;
    background: #fff;
    height: 100vh;
    padding-top: 25vh;
}

.details-div {
    text-align: left;
    width: 60vw;
    margin: 0 auto;
}

.span-title {
    color: #00ffc8;
    background: #1f00ce;
    padding: 1vh;
}
.p-about {
    font-size: 2em;
    padding: 1vh;
}

/* Sign Up */
.email-form {
    background: #666;
}